.about {
  display: inline;

  position: relative;
  text-align: center;
}

img.art{
  width: 50%;
  height: 50%;
  float: left;
}

.about > a{
  padding-left: 30px;
}

.cd {
  background:#e6e6e6;
  transition:all 0.2s ease;
  border:2px solid #dadada;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding:0 20px 20px 20px;
  max-height:250px;
  max-width: 340px;
  padding-right: 20px;
  display: inline-block;
}

.cd .cd-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}

.cd .cd-content p {
    color:#515c66;
    text-transform:none;
}

.cd h3 {
  font-size: 100%;
}
