/* ---------------------- Blueslate nav ---------------------- */
body{
    font-family: 'Varela Round';

}



#tabs25 {
    position: relative;
    display: block;
    height: 42px;
    font-size: 11px;
    font-weight: bold;
    background: #3a7999;
    font-family: Arial, Verdana, Helvitica, sans-serif;
    text-transform: uppercase;
}
#tabs25 ul {
    margin: 0px;
    padding: 0;
    list-style-type: none;
    width: auto;
}
#tabs25 ul li {
    display: block;
    float: left;
    margin: 0 1px 0 0;
}
#tabs25 ul li a {
    display: block;
    float: left;
    color: #D5F1FF;
    text-decoration: none;
    padding: 14px 22px 0 22px;
    height: 28px;
}
#tabs25 ul li a:hover,
#tabs25 ul li a.current {
    color: #fff;
    background: transparent url(Proyecto_Web.git/images/blueslate_backgroundOVER.gif) no-repeat top center;
}
/* ---------------------- END Blueslate nav ---------------------- */