img {
    float: left;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    padding-top: 5px;
    margin: 0 -20px -20px 0;
}

div.about {
    text-align: justify;
    text-indent: 2em;
    /*padding-left: 200px;*/
}

p + hr {
    float: left;
    opacity: 0.25;
    width: 75%;

}
