.about {
  display: inline;

  position: relative;
  text-align: center;
}

img.art{
  width: 50%;
  height: 50%;
  float: left;
}

.about > a{
  padding-left: 30px;
}

.cd {
  background:#e6e6e6;
  transition:all 0.2s ease;
  border:2px solid #dadada;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding:0 20px 20px 20px;
  min-height:250px;
  width: 33%;
  padding-right: 20px;
  display: inline-block;
}

.cd .cd-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}

.cd .cd-content p {
    color:#515c66;
    text-transform:none;
}

.cd h3 {
  font-size: 100%;
}

img#edit{
  max-width: 5%;
  max-height: 5%;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}
