img {

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    padding-top: 5px;

}

div.about {
    text-align: justify;
    text-indent: 2em;
    /*padding-left: 200px;*/
}

p + hr {
    float: left;
    opacity: 0.25;
    width: 75%;
}

button, .button{
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;

}

button:hover {
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

label {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.logo {
    padding: 15px 0;
    font-size: 25px;
    color: #aaaaaa;
    font-weight: bold;
}

.centered > p {
  color: #aaaaaa;
}

div.centered {
  width: 100%;
  text-align: center;
}
